/* Style du conteneur des labels */
div[role='radiogroup'] {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Colonnes flexibles */
    gap: 10px;
    width: 100%;
    margin-top: 2px;
}

/* Style général pour les labels */
div[role='radiogroup'] label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    border: 2px solid #FAFAFA;
    border-radius: 0px;
    background-color: #FAFAFA;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
    height: 100%;
    position: relative; /* Positionnement relatif pour le tooltip */
}

/* Style du tooltip (masqué par défaut) */
/* div[role='radiogroup'] label::after { */
    /* content: attr(data-tooltip); Récupère la valeur de data-tooltip */
    /* position: absolute; */
    /* bottom: 100%; Positionne le tooltip juste au-dessus */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    /* background-color: #444; */
    /* color: white; */
    /* padding: 8px 12px; */
    /* border-radius: 5px; */
    /* font-size: 12px; */
    /* opacity: 0; Tooltip masqué par défaut */
    /* pointer-events: none; Le tooltip ne peut pas interagir avec la souris */
    /* white-space: nowrap; Pas de retour à la ligne */
    /* transition: opacity 0.3s ease; Effet de transition lors de l'apparition */
    /* z-index: 10; */
/* } */

/* Affiche le tooltip au survol du label */
div[role='radiogroup'] label:hover::after {
    opacity: 1; /* Rendre visible le tooltip */
}

/* Style au survol des labels */
div[role='radiogroup'] label:hover {
    background-color: #E3F2FD; /* Changer la couleur de fond au survol */
}
