/* Style général pour les labels */
div[role='radiogroup'] {
    display: flex;
    flex-direction: row;  /* Disposer les labels horizontalement */
   flex-wrap: wrap;    /* Empêcher le retour à la ligne */
}
div[role='radiogroup'] label {
    display: flex;
    padding: 3px;
    border: 2px solid #444;
    border-radius: 5px;
    background-color: #2E2E2E;  /* Couleur de fond normale (gris) */
    transition: background-color 0.3s ease;
    white-space: normal;  /* Autoriser le retour à la ligne */
    cursor: pointer;        /* Indiquer que l'élément est interactif */
    min-width: 120px;       /* Largeur minimale pour un bon alignement */
    flex: 1 1 120px;        /* Permet de s'adapter dynamiquement */
    width: 150px; 
    box-sizing: border-box; /* Inclure le padding et la bordure dans la largeur */
}
/* Style au survol des labels */
div[role='radiogroup'] label:click {
    background-color: #a9a9a9;  /* Couleur au survol (gris foncé) */
}